@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background: yellowgreen;

}

body{
  background: #1f1f1f;
  background-size: cover;
  font-family: Montserrat;
  font-size: clamp(20px, 5vw, 30px);
  color: #fff;
  overflow-x: hidden;
}

button{
  font-size: clamp(20px, 5vw, 30px);
}

::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: #3f3f3f;
}

header{
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  position: fixed;
  border-bottom: 1px solid #fff;
  z-index: 5000;
  display: flex;
  align-items: center;
}

header .ul__nav{
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
}

header img{

  height: 40px;
}

section{
  padding: 20px 40px;
  min-height: 100vh;
}

.hero{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: url('/src/assets/img/hero/herobg.jpg');
line-height: 1.5;
background-size: cover;
background-position: 50%;
}

.hero > h2, span{
  filter: drop-shadow(#000000 2px 2px 2px);
}

.burger__button{

  flex-direction: column;
  gap: 5px;
  background: none;
  outline: none;
  border: none;
  padding: 3px;
}


.burger__button span{
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}


.close__button{
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
  background: #fff;
  padding: 7px;
  border: none;
  outline: none;
}






.start{
  background: url('./assets/img/bg2.jpg');
  background-size: cover;
  background-position: 35%;

}

.boxes{
  display: flex;
  flex-direction: column;
  gap: 10vh;

}

.boxes button{

  padding: 10px;




  color: #fff;

}

.box1 ,.box2, .box3{

  max-width: 30vw;
  aspect-ratio: 1/1;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  outline: 1px solid #fff;
}


.boxes img{
  border-radius: 50%;
  max-width: 100%;
}


.btn__section{
  display: grid;
  place-items: center;
  grid-gap: 5vh;
  background: url('./assets/img/bg3.jpg');
  background-size: cover;
  background-position: 25%;
  overflow-x: hidden;
}


.btn__section-btn{
  padding: 10px 30px;
  background: none;
  backdrop-filter: blur(5px);
  color: #fff;
  border: none;
  outline: 1px solid #fff;
  border-radius: 30px;
}

.btn__cubes{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.btn__cube{
  max-width: 80vw;
  min-height: 10vh;
  background: #3f3f3f77;
  padding: 10px 10px;
  border-radius: 5px;
  backdrop-filter: blur(.5px);
  filter: drop-shadow(#000 5px 5px 10px);
}

.cube1 {
  transform: translateX(-300%);
}

.cube2 {
  transform: translateX(200%);
}

.cube3 {
  transform: translateX(400%);
}

.infinite{
display: grid;
  gap: 10vh;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/img/bg4.jpg');
  background-size: cover;
  background-position: 20%;
}

.infinite__cubes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vh;
  align-items: center;

}



.inf__cube{

  aspect-ratio: 1/1;
  background: #000000b9;
  border-radius: 15px;
  overflow: hidden;

}



.inf__cube img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.inf__cube3{
  grid-column: span 2;
  width: 80%;
  height: 10vh;
}
