@media all and (max-width: 500px) {

body{
    overflow-x: hidden;
}

    header .ul__nav{
        position: fixed;
        left: -100%;
        flex-direction: column;
        min-height: 100vh;
        top: 0;
        align-items: center;
        padding: 20px 0px;
        justify-content: center;
        gap: 10vh;
        background: #000000ca;
        backdrop-filter: blur(10px);

    }

    .burger{
        height: 50%;
        width: 100%;

    }


    .burger__button{
        display: flex;
        margin-left: auto;
    }


    .close__button{
        display: block;
    }
}